﻿/* add your styling here */

body {
    font-family : Verdana,sans-serif;
}

hr{
    opacity: 30%;
    margin-bottom: 24px;
}

.jarak-section{
    padding-top: 30px;
}

.navbar{
    position: fixed;
    width: 100%;
    background-color: #fff;
    top: 0;
    height: 56px;
    box-shadow: 0 0 4px 0 #000;
    z-index: 999;
}

.navbar a{
    text-decoration: none;
    padding: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #000;
    letter-spacing: 4px;
    font-size: 14px;
    transition: 0.3s;

}

.a-hover:hover , .btn-contact:hover{
    cursor: pointer;
    background-color: #ccc;
}

.navbar .navbar-item-left{
    float: left;
    margin-left: 24px;
}

.navbar .navbar-item-left b{
    padding-right: 8px;
}

.navbar .navbar-item-right{
    float: right;
    margin-right: 24px;
}

.responsive-img {
    width: 100%;
    object-fit: cover;
    height: auto;
}


header{
    margin-top: 56px;
    /* display: flex;
    align-items: center;
    justify-content: center; */

    display: grid;
    place-items: center;
}

header, .container{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

header h1{
    position: absolute;

    color: #fff;
    font-size: 36px;
    font-weight: 100;
    letter-spacing: 4px;
}

header h1 b{
    background-color: #000;
    opacity: 70%;
    padding: 8px;
}


.container{
    max-width: 1564px;
    /* width: 100%; */
}

.img-container {
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.img-gallery img{
    /* max-width: 362px; */
    width: 270px;
}


.title-img{
    position: absolute;
    color: #fff;
    font-size: 14px;
    
    background-color: #000;
    padding: 8px;
}

.aboute-img .img-gallery h3, .aboute-img .img-gallery p{
    width: 270px;
} 

.aboute-img .img-gallery img{
    transition: 0.3s;
}
.aboute-img .img-gallery img:hover{
    -webkit-filter: grayscale(70%); /* Safari 6.0 - 9.0 */
    filter: grayscale(70%);
    transform: scale(1.1);
}

h3{
    font-size: 25px;
    font-weight: 100;
}

.job-title{
    color: grey;
    margin-top: 0;
}

p{
    font-size: 14px;
}

.btn-contact{
    width: 100%;
    background-color: #f1f1f1;
    border: none;
    padding: 8px 0px;
    font-size: 14px;
    text-align: center;
    transition: 0.3s;

}

#contact{
    padding-bottom: 16px;
}

.fields{
    padding-top: 12px;
}

.textfield{
    width: 100%;
    height: 24px;
    border-radius: 0%;
    border: 1px solid #ccc;
    padding-left: 12px;
}

.send-btn-wrapper{
    padding-top: 12px;
}

.send-btn{
    border-radius: 0%;
    padding: 12px 16px;
    color: #fff;
    background-color: #000;
    border: 1px solid #000;
    transition: 0.3s;

}

.send-btn:hover{
    color: #000;
    background-color: #ccc;
    border: 1px solid #ccc;
    cursor: pointer;
}


table{
    margin-top: 12px;
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
    font-size: 14px;
}

.table-contact-list td, .table-contect-list th{
    border-bottom: 1px solid #ddd;
    padding: 8px;
}

.table-contact-list th{
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {background-color: #f2f2f2;}

.table-contact-list tr:hover {background-color: #ddd;}

footer{
    background-color: #000;
    color: #fff;
    text-align: center;
    margin-top: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
}

footer p{
    font-size: 10px;

}

@media only screen and (max-width: 600px) {

    header h1 span, .navbar .navbar-item-right {
        display: none;
    }

    .img-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .img-gallery img{
        width: 362px;
    }

    .aboute-img .img-gallery h3, .aboute-img .img-gallery p{
        width: 362px;
    
    } 

}





